<div class="admin-item-container"  id = '<%=id%>'>
    <img class="item-img" src=<%=`/image/product/${img}`%> alt="">
    <div class="table">
      <div class="tr">
        <div class="td">Title</div>
        <div class="td"><%=title%></div>
      </div>
      <div class="tr">
        <div class="td">Quantity</div>
        <div class="td"><%=quantity%></div>
      </div>
      <div class="tr">
        <div class="td">Total Price:</div>
        <div class="td">₹<%=price%></div>
      </div>
    </div>
    <div class="admin-btn-cluster">
      <button class="update-btn admin-btn" onclick="acceptOrder('<%=id%>','<%=quantity%>')">SEND</button>
      <button class="delete-btn admin-btn" onclick="rejectOrder('<%=id%>')">REJECT</button>
    </div>
</div>
  